.vscode
*.pyc
__pycache__/
.idea
/gen-config
# vim swap file
*.swp

# coverage report
htmlcov/
.coverage

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/

# sphinx
/docs/api
/docs/_build
